body{
	background: url('doodle2.jpg');
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* The actual popup */
.popup .popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}

.btns{
	background: #fff;
    border: none;
    padding: 15px;
    margin-top: 20px;
    font-size: 15pt;
    font-family: calibri;
    //opacity: .8;
	transition: all .7s;
}

.btnsEven{
	border-radius: 15px 0px 15px 0px;
}

.btnsOdd{
	border-radius: 0px 15px 0px 15px;
}

.btns:hover{
	background: #3e5d81; //#438b76;
	color: #fff;
	cursor: pointer;
}

.tableContainer{
	text-align: center;
	width: 99%;
	margin-top: 2%;
	border-collapse: collapse;
    font-family: monospace;
    font-size: 14pt;
    background: #fff;
    opacity: 0.9;
    border-color: #ddd;
}

.tableContainer th{
	background: #343d4d;
    color: #fff;
}

.tableContainer tr:nth-child(even){background-color: #f2f2f2;}

.tableContainer tr:hover {background-color: #ddd;}

#adminChart{
	background: #57a5ec;
    padding: 1%;
    border: 2px solid #7fe9fd;
    box-shadow: -11px 11px 16px #4f9ede;
    width: max-content;
}

select{
	font-family: monospace;
	font-size: 12pt;
	height: 30px;
    font-weight: bold;
}

.lblTxt{
	font-family: monospace;
    font-size: 14pt;
    color: #fff;
}
